<!DOCTYPE html>
<html>
	<head>
		<title>Dineamics</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
		<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	</head>

	<body>

		<div data-role="page">

			<div data-role="header" class=".ui-header">

				<div align="center">
					<br/>
					<img src="{{ url_for('static', filename = 'images/find.png') }}" style="width: 17%" class="center"/>
				</div>

			</div>

			<div data-role="main" class="ui-content ui-body">
				<form action="/nextperson" method="post">
					Type of Food:
					<br>
					<input type="text" name="foodtype"></input>
					<br>
					Location:
					<br>
					<input type="text" name="location"></input>
					<br>
					Price (Dollars):
					<br>
					<input type="text" name="price"></input>
					<br>
					<input type="submit" name="submit" value="Add another person!"></input>
					<input type="submit" name="submit" value="Find me a restaurant!"></input>
				</form>
			</div>
			
			<div align="center" data-role="footer" class=".ui-footer">
				<br/>
				<a data-icon="home" href="index.html" data-role="button">Start Over</a>
				<br/><br/>
			</div>

		</div>
	</body>
</html>